html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1º Hack para que 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem; /* 2º Hack para la base sea de 16px */
  line-height: 2; /* Separación entre los párrafos de un texto */
}

/* Globales */

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%; /* Imágenes responsive */
  display: block;
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #769c02;
}

/* Utilidades */

.text-center {
  text-align: center;
}

/* Header y Navegación */

.nombre-sitio {
  margin-top: 5rem;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}

.navegacion {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

/* Hero */

.hero {
  height: 55rem;
  background-image: url(../images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Categorías */

.categorias {
  padding-top: 5rem; /* se puede combinar margin con padding */
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #ffffff;
  border-bottom-right-radius: 1rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Nosotros */

.sobre-nosotros {
  /* background-image: linear-gradient(to right, black 50%, red 100%); */
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 1000%
    ),
    url(../images/nosotros.jpg);
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  background-position: left center;
}

/* OPCIÓN GRID */
/* .sobre-nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}

.texto-nosotros {
  grid-column: 2 / 3;
} */

/* OPCIÓN FLEXBOX */
.sobre-nosotros-flex {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros {
  flex-basis: 50%; /* Modifica el ancho del flex */
  padding-left: 10rem;
  color: #ffffff;
}

/* Nuestros Productos */

.contenido-principal {
  padding-top: 5rem;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #ffffff;
  padding: 2rem;
}

.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}
